
#div1{
	width:500px;
	height:500px;
}
.moviePic{
	height:300px;
	width:300px;
	opacity:0.5;
}
.movieDetail{
	position:absolute;
	top:8px;
	width:200px;
	text-align:center;
	font-size:15px;
	padding:20px;
	
}